/* FlashCard.css */

.flashcard {
    cursor: pointer;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    color: black;
    transition: background-color 0.3s ease;
    width: 500px;
    height: 350px;
  }

  .flashcard.easy {
    background-color: lightgreen;
  }
  
  .flashcard.intermediate {
    background-color: rgba(215, 165, 73, 0.708);
  }
  
  .flashcard.hard {
    background-color: rgba(255, 0, 0, 0.362);
  }
  
  .flashcard-image {
    width: 100%;
    max-width: 200px; /* Adjust based on your layout */
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300;
    height: 150px;
  }
  